<header class="fixed bg-deep text-white pt-4 min-h-[40px] text-center shadow w-full" style="z-index: 4;">
    <div class="px-4 flex flex-col w-full">
        <nav class=" flex items-center justify-between flex-wrap gap-4">
            <h3 class="text-2xl font-bold drop-shadow-sm mb-2 text-left flex-1">名前どうしよ鯖HP</h3>
            <div class="flex gap-4 ml-auto">
                <a href="#features" class="bg-deep text-white px-5 py-2 transition hover:bg-selected">サーバーの特徴</a>
                <a href="#gallery" class="bg-deep text-white px-5 py-2 transition hover:bg-selected">サーバーマップ</a>
                <a href="#join" class="bg-deep text-white px-5 py-2 transition hover:bg-selected">参加方法</a>
                <a href="#community" class="bg-deep text-white px-5 py-2 transition hover:bg-selected">コミュニティ</a>
            </div>
        </nav>
    </div>
</header>